<div>
    <h4 id="text-center">REPORTE DE ASISTENCIA POR MATERIA/GRUPO</h4>
    <hr id="line">
    <div>
        <ul class="list-group fw-bold border-primary">
            <li class="list-group-item">Materia:</li>
            <li class="list-group-item">Semestre:</li>
            <li class="list-group-item">Grupo:</li>
        </ul>

        <hr id="line">
        <div>

            <table class="table table-bordered border-white">
                <thead>
                    <th>
                        <div class="row" id="textA">Asistencia:
                            <div id="ca"></div>
                        </div>
                    </th>

                    <th>
                        <div class="row" id="textJ">Justificacion:
                            <div id="cj"></div>
                        </div>
                    </th>

                    <th>
                        <div class="row" id="textR">Retardo:
                            <div id="cr"></div>
                        </div>
                    </th>

                    <th>
                        <div class="row" id="textF">Falta:
                            <div id="cf"></div>
                        </div>
                    </th>

                </thead>

                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>26/08/2017</td>
                        <td>30/08/2017</td>
                        <td>31/08/2017</td>
                    </tr>
                    <tr>
                        <th scope="row">Ramos Garcia Oscar Ivan</th>
                        <td id="a_alumno"></td>
                        <td id="a_alumno"></td>
                        <td id="r_alumno"></td>
                    </tr>

                    <tr>
                        <th scope="row">Vargas Rangel Cesar Adrian</th>
                        <td id="f_alumno"></td>
                        <td id="a_alumno"></td>
                        <td id="f_alumno"></td>
                    </tr>

                    <tr>
                        <th scope="row">Ramirez Diaz Radames Osvaldo</th>
                        <td id="f_alumno"></td>
                        <td id="j_alumno"></td>
                        <td id="f_alumno"></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>